.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.swiftpm/
.build/
*.dSYM
*.dSYM.zip
*.ipa
DWBrowser.xcodeproj/project.xcworkspace/xcuserdata/
DWBrowser.xcodeproj/xcuserdata/
Pods/
Carthage/Build/
Carthage/Checkouts/
